@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap");
/* font-family: 'Jost', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
/* font-family: 'Montserrat', sans-serif; */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}

::-moz-selection {
  color: #fff;
  background-color: #ff3939;
}

::selection {
  color: #fff;
  background-color: #ff3939;
}

html::-webkit-scrollbar {
  width: 18px;
}

html::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(gray));
  background: linear-gradient(#000, gray);
  border-radius: 10px;
  height: 200px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

html::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(gray), to(#000));
  background: linear-gradient(gray, #000);
  border-radius: 10px;
}

html::-webkit-scrollbar-track {
  background-color: #3d3d3d;
}

/* Start Loading page */
.content {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.loader {
  height: 100vh;
  width: 98.9vw;
  background-color: #ddd;
  position: fixed;
  z-index: 99999;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.loader > div {
  height: 50px;
  width: 50px;
  border: 4px solid #333;
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
          animation: loading 1s infinite linear;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/* End Loading page */
/* ScrollUp */
.ScrollUp {
  position: fixed;
  z-index: 99999999;
  bottom: 10px;
  right: 20px;
  border-radius: 50%;
  padding: 10px 15px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
  -webkit-box-shadow: 0 0 1px gray;
          box-shadow: 0 0 1px gray;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: none;
}

.ScrollUp i {
  color: #fff;
  text-align: center;
}

.ScrollUp:hover {
  background: #000 !important;
}

@media (max-width: 600px) {
  .ScrollUp {
    padding: 6px 11px;
  }
  .ScrollUp i {
    font-size: 14px;
  }
}

/* R_s */
.r_s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  height: 350px;
  width: 55px;
  position: fixed;
  top: 35%;
  right: 15px;
  z-index: 999;
  -webkit-box-shadow: 1px 1px 8px gray;
          box-shadow: 1px 1px 8px gray;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  z-index: 0px;
  z-index: 50px;
}

.r_s i {
  font-size: 20px;
  margin: 15px auto;
  color: #9396a5;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  z-index: 10;
}

.r_s i:hover {
  color: #3d3d3d;
  font-size: 27px;
}

.r_s i .showcase {
  position: absolute;
  top: -30px;
  right: -10px;
  z-index: -100;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 13px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  visibility: hidden;
}

.r_s i .showcase1 {
  top: -26px;
  padding: 20px 26px;
}

.r_s i .showcase2 {
  top: -18px;
  padding: 15px 40px;
}

.r_s i .showcase3 {
  top: -17px;
  padding: 15px 40px;
}

.r_s i .showcase4 {
  top: -16px;
  padding: 15px 40px;
}

.r_s i .showcase5 {
  top: -9px;
  padding: 15px 40px;
}

.r_s i .showcase6 {
  top: -11px;
  padding: 11px 40px;
  font-size: 15px;
}

.r_s i:hover .showcase {
  visibility: visible;
  right: 32px;
}

@media (max-width: 600px) {
  .r_s {
    display: none;
  }
}

/* Start Style On NavBar */
.mynavbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 0 0 10px !important;
  z-index: 9999999999;
}

.mynavbar .itsflex .Jevelin {
  color: #fff;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 11px;
  left: 20px;
}

.mynavbar .my_ul {
  margin: 0 auto;
}

.mynavbar .my_ul .nav_item a {
  margin: 0 20px;
  padding: 10px 15px !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.mynavbar .my_ul .nav_item a:hover {
  color: #fff !important;
  background-color: #ff3939;
  font-weight: bold;
  border-radius: 20px;
}

.mynavbar .my_ul .active-link {
  color: #fff !important;
  background-color: #ff3939 !important;
  font-weight: bold;
  border-radius: 20px;
}

.mynavbar .my_ul .nav_item .nav_link {
  color: #fff;
  font-family: "Jost";
  font-weight: 600;
}

.mynavbar .itsflex .aymanzero {
  font-size: 22px;
  position: relative;
  top: -22px;
  -webkit-transform: translateX(75rem);
          transform: translateX(75rem);
  color: #fff;
  cursor: pointer;
}

.mynavbar .itsflex .aymanzero::after {
  content: "0 ";
  position: absolute;
  top: -15px;
  right: -14px;
  font-size: 14px;
  padding: 2px 5px;
  background-color: #ff3939;
  border-radius: 50%;
}

.mynavbar .itsflex button {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: #fff;
}

@media (min-width: 770px) and (max-width: 1199px) {
  .mynavbar .itsflex .aymanzero {
    font-size: 24px;
    left: 850px;
  }
  .mynavbar .itsflex .Jevelin {
    top: 18px;
  }
}

@media (max-width: 768px) {
  .mynavbar {
    background-color: #000;
    padding: 10px 0 !important;
  }
  .mynavbar .itsflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mynavbar .itsflex .Jevelin {
    top: 3px;
    margin-right: 500px;
  }
  .mynavbar .itsflex .aymanzero {
    font-size: 30px;
    margin-top: 5px;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .mynavbar .itsflex button {
    margin-left: 20px;
    padding: 5px 10px;
  }
  .mynavbar .my_ul .nav_item {
    margin-left: 5px;
    margin-top: 30px;
    font-size: 20px;
  }
  .mynavbar .itsflex .aymanzero {
    left: -10px;
    top: 2px;
  }
}

@media (max-width: 600px) {
  .mynavbar {
    background-color: #000;
    padding: 5px 0 !important;
  }
  .mynavbar .itsflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mynavbar .itsflex .Jevelin {
    top: 3px;
    margin-right: 120px;
    margin-left: 10px;
  }
  .mynavbar .itsflex .aymanzero {
    font-size: 30px;
    margin-top: 5px;
  }
  .mynavbar .itsflex button {
    margin-left: 20px;
    padding: 5px 10px;
  }
  .mynavbar .nav_item a {
    margin: 0 20px;
    padding: 0 !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .mynavbar .my_ul .nav_item {
    margin-top: 15px;
    font-size: 20px;
  }
  .mynavbar .my_ul .nav_item .nav_link {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .navbar {
    display: none;
  }
}

/* Jqeury On NavBar */
.mynavbar2 {
  background-color: #fff;
  top: -75px;
  -webkit-transform: translateY(75px);
          transform: translateY(75px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.mynavbar2 .Jevelin {
  color: #000 !important;
  font-size: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

.mynavbar2 .my_ul .nav_item .nav_link,
.mynavbar2 .itsflex .aymanzero {
  color: #000;
}

/* Start Section 1 */
.burger {
  background-color: rgba(0, 0, 0, 0.918);
  height: 120vh;
  overflow: hidden;
}

.burger .img_burger {
  margin: 0 auto;
  display: block;
  position: relative;
  top: -150px;
}

.burger .text {
  width: 50%;
  color: #fff;
  margin: 0 auto;
  position: relative;
  top: 10%;
  text-align: center;
}

.burger .text h1 {
  font-size: 57px;
  color: #ff3939;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  position: relative;
  top: 35px;
}

.burger .text h1 span {
  color: #8f94a6;
}

.burger .text h2 {
  font-size: 155px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2rem;
}

.burger .text .img1 {
  position: absolute;
  top: 35px;
  left: 45px;
}

.burger .text .img2 {
  position: absolute;
  top: 65px;
  left: 40px;
}

.burger .text .img3 {
  position: absolute;
  top: 85px;
  left: 80px;
}

.burger button {
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 44%;
  padding: 13px 45px;
  border-radius: 50px;
  font-weight: bolder;
  font-family: "Jost", sans-serif;
  border: 1px solid #ff3939;
  background-color: #ff3939;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.burger button:hover {
  background-color: transparent;
  border: 1px solid #fff;
}

@media (max-width: 1024px) {
  .burger {
    height: 85vh;
  }
  .burger .img_burger {
    right: 25px;
  }
  .burger .text {
    width: 100%;
  }
  .burger button {
    top: 67%;
    left: 39%;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .burger {
    height: 70vh;
  }
  .burger .text h1 {
    top: 15px;
  }
  .burger .text .img1 {
    width: 12%;
    top: -5px;
    left: 15%;
  }
  .burger .text .img2 {
    width: 12%;
    top: 40px;
    left: 15%;
  }
  .burger .text .img3 {
    width: 10%;
    top: 60px;
    left: 18%;
  }
  .burger button {
    top: 50%;
    left: 39%;
  }
}

@media (max-width: 600px) {
  .burger {
    height: 85vh;
  }
  .burger .text {
    width: 100%;
    top: 20%;
  }
  .burger .text h1 {
    font-size: 25px;
    top: 13px;
  }
  .burger .text h2 {
    font-size: 65px;
  }
  .burger .text .img1 {
    width: 12%;
    top: 7px;
    left: 24px;
  }
  .burger .text .img2 {
    width: 12%;
    top: 26px;
    left: 22px;
  }
  .burger .text .img3 {
    width: 12%;
    top: 30px;
    left: 32px;
  }
  .burger .img_burger {
    width: 120%;
    top: -14px;
    right: 30px;
  }
  .burger button {
    top: 64%;
    left: 29%;
    padding: 10px 35px;
  }
}

@media (max-width: 350px) {
  .burger .img1,
  .burger .img2,
  .burger .img3 {
    display: none;
  }
}

/* Section 2 */
.aboutus {
  padding: 120px 0;
}

.aboutus img {
  max-width: 120%;
  border-radius: 20px;
  margin-left: -140px;
}

.aboutus .item {
  margin-top: 200px;
}

.aboutus .item button {
  height: 25px;
  padding: 0 16px;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
  color: #ffffff;
}

.aboutus .item h2 {
  font-size: 60px;
  line-height: 110%;
  font-weight: 700;
  margin: 30px 0;
}

.aboutus .item p {
  font-family: "Jost";
  color: #515050;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
}

.aboutus .item span {
  margin-top: 30px;
  display: block;
  color: rgba(0, 0, 0, 0.678);
  font-family: "Jost";
  font-weight: 700;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .aboutus img {
    max-width: 110%;
    border-radius: 20px;
    margin-left: -35px;
  }
  .aboutus .item {
    margin-top: 40px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .aboutus img {
    max-width: 100%;
    margin: 0;
  }
  .aboutus .item {
    margin-top: 100px;
  }
  .aboutus .item h2 {
    font-size: 40px;
    font-weight: 800;
    width: 80%;
  }
  .aboutus .item p {
    width: 75%;
  }
  .aboutus .item span {
    font-weight: 800;
  }
}

@media (max-width: 600px) {
  .aboutus .item h2 {
    font-size: 35px;
    width: 100%;
  }
  .aboutus .item p {
    width: 100%;
  }
}

/* Start Session 3 */
.special {
  padding: 60px 0;
}

.special h2 {
  font-size: 60px;
  line-height: 110%;
  font-weight: 700;
  margin-bottom: 110px;
  -webkit-box-shadow: 10px 10px 10px -5px gray;
          box-shadow: 10px 10px 10px -5px gray;
  width: 50%;
  padding: 10px 20px;
  -webkit-animation: letter 1.7s infinite;
          animation: letter 1.7s infinite;
}

.special .item .new {
  line-height: 25px;
  height: 25px;
  padding: 0 16px;
  margin-bottom: 60px;
  font-size: 12px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
}

.special .item img {
  max-width: 90%;
}

.special .item h3 {
  font-size: 40px;
  font-weight: 700;
  margin: 40px 0 30px 0;
}

.special .item .btn_fat button {
  line-height: 32px;
  padding: 0 26px;
  font-weight: bold;
  margin-left: 5px;
  font-size: 14px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.123);
  color: #7b7b7b;
  border: 2px solid #f4f4f4;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.special .item .btn_fat button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
  color: #fff;
  border: 2px solid transparent;
}

.special .item p {
  margin: 15px 0 40px 0;
  font-family: "Jost";
  color: #515050;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
}

.special .item .card_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.special .item .card_bottom span {
  font-size: 40px;
  line-height: 110%;
  font-weight: 700;
}

.special .item .card_bottom i {
  margin-right: 10px;
}

.special .item .card_bottom button {
  height: 43px;
  padding: 0 26px;
  line-height: 43px;
  font-size: 14px;
  border-radius: 22px;
  font-weight: bold;
  background: #000;
  color: #ffffff;
}

.special .item .card_bottom button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
}

.special .add {
  margin-left: 100px;
  margin-top: 30px;
  width: 15rem !important;
  padding: 35px 15px;
  background-color: #fbf8f6;
  border-radius: 20px;
  border: none !important;
  text-align: center;
}

.special .add img {
  width: 70%;
  margin: 0 auto;
}

.special .add h4 {
  font-size: 21px;
  line-height: 140%;
  font-weight: 700;
  margin: 20px 0;
}

.special .add h5 {
  padding: 0 15px;
  line-height: 33px;
  font-size: 20px;
  border-radius: 15px;
  width: 40%;
  margin: 0 auto 20px auto;
  color: #ffffff;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
}

.special .add .icon {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.special .add .icon i {
  margin-right: 5px;
}

.special .add .icon:hover {
  color: #ff3939;
}

@-webkit-keyframes letter {
  0% {
    padding: 10px 20px;
    color: #000;
  }
  50% {
    padding: 10px 50px;
    color: #ff3939;
  }
  100% {
    padding: 10px 20px;
    color: #000;
  }
}

@keyframes letter {
  0% {
    padding: 10px 20px;
    color: #000;
  }
  50% {
    padding: 10px 50px;
    color: #ff3939;
  }
  100% {
    padding: 10px 20px;
    color: #000;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .special h2 {
    width: 70%;
  }
  .special .add {
    width: 14rem !important;
  }
  .special .card {
    margin-left: 50px !important;
  }
  .special .card img {
    margin-right: 30px !important;
  }
}

@media (max-width: 768px) {
  .special {
    padding: 0;
  }
  .special h2 {
    width: 70%;
  }
  .special .add {
    margin-left: 0;
    width: 25rem !important;
    margin: 60px auto;
  }
  .special .item .new {
    position: relative;
    top: -120px;
  }
  .special .item .btn_fat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .special .add {
    margin-left: 0;
    width: 20rem !important;
    margin: 60px auto;
  }
  .special h2 {
    width: 100%;
    font-size: 30px;
  }
  .special .item img {
    margin: 0 auto;
    display: block;
  }
  .special .item h3 {
    text-align: center;
  }
  .special .item .new {
    position: relative;
    top: 0;
  }
  .special .item .btn_fat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .special .item .btn_fat button {
    padding: 2px 14px;
  }
  .special .item p {
    font-size: 16px;
    text-align: center;
  }
}

/* Start Section 4 */
.Enjoy {
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.904);
  background-image: url("../img/background/25ofSale.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.Enjoy .item {
  color: #fff;
  width: 45%;
  position: relative;
  left: 53%;
}

.Enjoy .item span {
  height: 25px;
  padding: 5px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
  color: #ffffff;
}

.Enjoy .item h2 {
  font-size: 60px;
  line-height: 110%;
  font-weight: 700;
  margin: 30px 0;
}

.Enjoy .item p {
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Jost", sans-serif;
}

.Enjoy .item button {
  padding: 13px 45px;
  border-radius: 50px;
  font-weight: bolder;
  font-family: "Jost", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
  border: 1px solid transparent;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1024px) {
  .Enjoy {
    padding: 500px 0;
    background-position: left top;
    background-size: 100% 60%;
    margin-top: 60px;
  }
  .Enjoy .item {
    width: 80%;
    left: 5%;
    bottom: -350px;
  }
}

@media (max-width: 768px) {
  .Enjoy {
    padding: 320px 0;
    background-position: left top;
    background-size: contain;
  }
  .Enjoy .item {
    width: 80%;
    left: 5%;
    bottom: -280px;
  }
}

@media (max-width: 600px) {
  .Enjoy {
    padding: 180px 0;
    background-size: contain;
  }
  .Enjoy .item {
    bottom: -150px;
  }
  .Enjoy .item h2 {
    font-size: 30px;
    line-height: 120%;
  }
  .Enjoy .item button {
    padding: 13px 23px;
  }
  .Enjoy .item p {
    font-size: 14px;
  }
}

/* Start Section 5 */
.New {
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.904);
  background-image: url("../img/background/15ofSale.png");
  background-position: right center;
  background-repeat: no-repeat;
}

.New .item {
  color: #fff;
  width: 60%;
  position: relative;
  left: 15%;
}

.New .item span {
  height: 25px;
  padding: 5px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
  color: #ffffff;
}

.New .item h2 {
  font-size: 50px;
  line-height: 110%;
  font-weight: 700;
  margin: 30px 0;
  font-family: "Jost", sans-serif;
}

.New .item p {
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Jost", sans-serif;
}

.New .item button {
  padding: 13px 45px;
  border-radius: 50px;
  font-weight: bolder;
  font-family: "Jost", sans-serif;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
  border: 1px solid transparent;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 1024px) {
  .New {
    padding: 520px 0;
    background-position: left top;
    background-size: contain;
  }
  .New .item {
    width: 80%;
    left: 5%;
    bottom: -400px;
  }
}

@media (max-width: 768px) {
  .New {
    padding: 370px 0;
    background-position: left top;
    background-size: contain;
  }
  .New .item {
    width: 80%;
    left: 5%;
    bottom: -320px;
  }
}

@media (max-width: 600px) {
  .New {
    padding: 220px 0;
    background-size: contain;
  }
  .New .item {
    bottom: -150px;
  }
  .New .item h2 {
    font-size: 30px;
    line-height: 120%;
  }
  .New .item button {
    padding: 13px 23px;
  }
  .New .item p {
    font-size: 14px;
  }
}

/* Start Section 6,7 */
.Trending {
  padding: 120px 0;
}

.Trending .row {
  margin: 0 50px !important;
  padding: 0 !important;
}

.Trending .col-lg-3 {
  margin: 0 !important;
}

.Trending h2 {
  font-size: 60px;
  line-height: 110%;
  font-weight: 700;
  margin-bottom: 110px;
  -webkit-box-shadow: 10px 10px 10px -5px gray;
          box-shadow: 10px 10px 10px -5px gray;
  width: 50%;
  padding: 10px 20px;
  margin-left: 60px;
}

.Trending .item {
  background-color: #fbf8f6 !important;
  border-radius: 20px !important;
  border: none;
  width: 20rem;
}

.Trending .item img {
  max-width: 100%;
  padding-top: 40px;
}

.Trending .item h3 {
  font-size: 26px;
  line-height: 110%;
  font-weight: 700;
  padding: 0 20px;
  margin-top: 30px;
}

.Trending .item p {
  line-height: 180%;
  margin: 20px 0;
  padding: 0 20px;
}

.Trending .item .cardfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  padding: 0 20px;
}

.Trending .item .cardfooter .span1 {
  line-height: 33px;
  padding: 0 15px;
  font-size: 20px;
  border-radius: 15px;
  position: relative;
  top: -7px;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
  background: #ff3939;
  font-weight: bold;
  font-family: "Jost", sans-serif;
  font-family: "Montserrat", sans-serif;
}

.Trending .item .cardfooter .span2 {
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Trending .item .cardfooter .span2:hover {
  color: #ff3939;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .Trending .row {
    margin: 0 0 0 -13px !important;
    padding: 0 !important;
  }
  .Trending h2 {
    width: 60%;
    text-align: center;
    margin-bottom: 50px;
    margin: 0 auto 50px auto !important;
  }
  .Trending .item {
    background-color: #fbf8f6 !important;
    width: 14rem;
    margin-top: 30px;
    width: 15rem !important;
  }
  .Trending .item h3 {
    width: 66%;
  }
}

@media (max-width: 768px) {
  .Trending .col-lg-3 {
    margin: 0 !important;
    margin-left: 5px;
  }
  .Trending h2 {
    width: 90%;
    text-align: center;
    margin: 0 auto 50px auto !important;
  }
  .Trending .item {
    background-color: #fbf8f6 !important;
    width: 21rem;
    margin-top: 30px;
    width: 20rem !important;
  }
}

@media (max-width: 768px) and (max-width: 600px) {
  .Trending .row {
    margin: 0 0 0 0 !important;
    padding: 0 !important;
  }
  .Trending .col-lg-3 {
    margin-left: 5px !important;
  }
}

/* Start Section 8 */
.What {
  padding: 120px 0;
}

.What .carousel-indicators li {
  color: gray;
  position: relative;
  bottom: -120px;
  border: 1px solid gray;
  background-color: transparent;
  margin-top: 60px !important;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 5px;
  opacity: 0.7;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.What .carousel-indicators li:hover {
  background-color: gray;
}

.What .carousel-indicators .active {
  background-color: gray !important;
}

.What img {
  max-width: 120%;
  border-radius: 20px;
  margin-left: -140px;
}

.What .item {
  margin-top: 200px;
}

.What .item button {
  height: 25px;
  padding: 0 8px;
  line-height: 25px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
  color: #ffffff;
}

.What .item h2 {
  font-size: 60px;
  line-height: 110%;
  font-weight: 700;
  margin: 30px 0;
}

.What .item .span1 {
  font-family: "Jost";
  color: #ff3939;
  font-size: 50px;
}

.What .item p {
  font-family: "Jost";
  color: #515050;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 30px;
}

.What .item .span2 {
  font-family: "Jost";
  color: #000;
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .What img {
    max-width: 110%;
    border-radius: 20px;
    margin-left: -35px;
  }
  .What .item {
    margin-top: 40px;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .What img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  .What .item {
    margin-top: 100px;
  }
  .What .item h2 {
    font-size: 40px;
    font-weight: 800;
    width: 80%;
  }
  .What .item p {
    width: 75%;
  }
  .What .item span {
    font-weight: 800;
  }
}

@media (max-width: 600px) {
  .What .item h2 {
    font-size: 35px;
    width: 100%;
  }
  .What .item p {
    width: 100%;
  }
}

/* Start Section 9 */
.sec_img {
  padding: 60px 0;
}

.sec_img .row {
  margin-right: 42px;
}

.sec_img img {
  max-height: 100%;
  max-height: 400px;
}

@media (max-width: 1024px) {
  .sec_img .row {
    margin-right: 42px;
    margin-left: 0;
  }
  .sec_img img {
    width: 120%;
  }
}

@media (max-width: 768px) {
  .sec_img .row {
    margin-right: 0;
    margin-left: 0;
  }
  .sec_img img {
    max-width: 100%;
    max-height: 400px;
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .sec_img .row {
    margin-right: 0;
    margin-left: 0;
  }
  .sec_img img {
    width: 100%;
  }
}

/* Start Section 10 */
.map iframe {
  width: 100%;
}

/* Start Section 11 */
footer {
  padding: 80px 0;
}

footer .item img {
  max-width: 100%;
}

footer .item p {
  font-family: "Jost";
  color: #515050;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  margin: 20px 0 30px 0;
  width: 75%;
}

footer .social_ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 30px;
  z-index: 11111;
  margin-bottom: 50px;
}

footer .social_ul .social_li {
  position: relative;
  list-style: none;
  width: 30px;
  height: 30px;
  margin-right: 35px;
  -webkit-transform: rotate(-30deg) skew(25deg);
          transform: rotate(-30deg) skew(25deg);
  background: #ccc;
}

footer .social_ul .social_li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 18px !important;
}

footer .social_ul .social_li:hover span:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0.2;
}

footer .social_ul .social_li:hover span:nth-child(2) {
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
  opacity: 0.4;
}

footer .social_ul .social_li:hover span:nth-child(3) {
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
  opacity: 0.6;
}

footer .social_ul .social_li:hover span:nth-child(4) {
  -webkit-transform: translate(30px, -30px);
          transform: translate(30px, -30px);
  opacity: 0.8;
}

footer .social_ul .social_li:hover span:nth-child(5) {
  -webkit-transform: translate(40px, -40px);
          transform: translate(40px, -40px);
  opacity: 1;
}

footer .social_ul .social_li:nth-child(1) span {
  /* Facebook */
  background: #3b5999;
}

footer .social_ul .social_li:nth-child(2) span {
  /* Twiter */
  background: #55acee;
}

footer .social_ul .social_li:nth-child(3) span {
  /* Google+ */
  background: #dd4b39;
}

footer .social_ul .social_li:nth-child(4) span {
  /* .social_linkedIn */
  background: #0077b5;
}

footer .social_ul .social_li:nth-child(5) span {
  /* Instgram */
  background: #e4405f;
}

footer .item h2 {
  font-size: 26px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 20px;
}

footer .item .info {
  list-style: none;
  line-height: 2.3;
}

footer .item .info i {
  font-size: 18px;
  color: #ff3939;
  margin-right: 10px;
}

footer .item h3 {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

footer .item input {
  opacity: 0.7;
  height: 56px;
  line-height: 56px;
  font-size: 14px;
  color: #5150504f;
  background-color: #f4f4f4;
  border-color: rgba(255, 255, 255, 0.01);
  border-radius: 28px;
  border-width: 2px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  padding: 0 45px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #e3e3e3;
  display: block;
}

footer .item input:focus {
  -webkit-box-shadow: 0 0 20px gray;
          box-shadow: 0 0 20px gray;
  border: none;
}

footer .item button {
  height: 56px;
  border-radius: 28px;
  line-height: 50px;
  font-size: 18px;
  padding: 0 45px;
  background-color: #ff3939;
  font-weight: bold;
  -webkit-transition: 0.25s all ease-in-out;
  transition: 0.25s all ease-in-out;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 15px 0 20px 0;
}

footer .item button:hover {
  background-color: #000;
  color: #fff;
}

footer .item h4 {
  font-weight: 400;
  color: #858585;
  text-align: center;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}

@media (max-width: 768px) {
  footer .item {
    margin-top: 40px;
  }
  footer .item .icons {
    width: 15%;
  }
  footer .item h3,
  footer .item h4 {
    text-align: left;
    margin-left: 20px;
  }
  footer .item input {
    width: 50%;
  }
  footer .item button {
    width: 50%;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  footer .item .icons {
    width: 30%;
  }
  footer .item h3,
  footer .item h4 {
    text-align: center;
    margin-left: 0;
  }
  footer .item input {
    width: 100%;
  }
  footer .item button {
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* Start Section 12 */
.End {
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(0%, #e00f41), color-stop(35%, #79090b), color-stop(76%, #c82bb6), color-stop(96%, #ed0eb5), to(#ff00b5));
  background: linear-gradient(90deg, #020024 0%, #e00f41 0%, #79090b 35%, #c82bb6 76%, #ed0eb5 96%, #ff00b5 100%);
  padding: 15px 0;
}

.End .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.End .copyright span {
  color: #fff;
}

.End .copyright span i {
  margin-right: 6px;
  color: #fff;
}

.End .copyright h2 {
  font-size: 16px !important;
  color: #fff;
  position: relative;
  top: 2px;
}

.End .copyright h2 a {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  color: #fff;
  font-family: "Jost", sans-serif;
}

.End .copyright h2 a:hover {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .End .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .End .copyright span {
    margin-bottom: 10px;
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .End .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .End .copyright span {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .End .copyright h2 {
    font-size: 20px;
  }
}

input[type="checkbox"] {
  margin-left: 20px;
}

/* _______________________ End Project _______________________ */
/*# sourceMappingURL=main.css.map */